body h2 {
    color:#4093dcaa;
    text-align:left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:60px;
    font-weight:bold; 
}

body h3 {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

button {
    background-color:rgb(195, 234, 255) ;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif ;
}

a {
    color: inherit;
    text-decoration: inherit;
    }

hr {
    height: 5px;
    width: 50%;
}

#Obr {
    position: fixed;
    top: 10px;
    left: 30%;
}

#Portret {
    max-width: 35%;
    display: block;
    margin-left: auto;
}

footer {
    background-color: rgb(110, 138, 150);
    width: 100%;
    display: block;
    margin-left: auto;
}

table, th, td {
    border: 1px solid black;
    border-radius: 2px;
    min-width: 50%;
    text-align: center;

  }

.Farba {
    min-width: 50px;
    
}

#Modra {
    background-color: #6495ED;
}

#Čierna {
    background-color: #17202A;
}

#Červena {
    background-color: #CB4335;
}

#Žlta {
    background-color: #F1C40F;
}

#Zelena {
    background-color: #27AE60;
}

.table {
    text-align: center;
}
